<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Stock: <%= stockName %></h2>
    <br />
    <h2>Last Traded Price: <%= lastTradedPrice %></h2>
    <br />
    <h2>Market Cap <%= marketCap %></h2>
    <br />
    <h2>Dividend: <%= dividend %></h2>
    <br />
  </body>
</html>
